<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <form action="" @submit.prevent="guardarTarea">
            <input v-model="nuevaTarea" type="text">
            <input type="submit" value="Guardar">
        </form>
        <hr>
        <ul>
            <li v-for="tarea in tareas">
                {{ tarea }}
            </li>
        </ul>
        <pre>
            {{ $data }}
        </pre>
        
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            title: "Curso básico de Vue",
            nuevaTarea: "",
            tareas: []
        },
        methods: {
            guardarTarea(){
                this.tareas.push(this.nuevaTarea);
                this.nuevaTarea = "";
            }
        }
    })
    Vue.config.devtools = true;
</script>
</html>